*{
    padding: 0;
    margin: 0;
   
}
body{
    background-color: #ebf2ff !important;
}
.mobilescreenfor_addNewItem{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    width: 100%;
    background-color: white;
    z-index: 3;
}
@media (min-width:768px){
    .mobilescreenfor_addNewItem{
        display: none;
    }
}